body {
   position: relative; 
   height: 100vh; 
   margin: 0; 
}

h2 {
   position: absolute; 
   top: 45%; 
   transform: translateY(-50%); 
   width: 100%; 
   text-align: center;
   margin: 0; 
}
